body{
    margin: 0;
    padding: 0;
    display: flex;
    background: #02101b;
    font-family: sans-serif;
}
nav{
    position: absolute;
    width:100%;
    top: 50%;
    left: 0;
}
ul{
    width:100%;
    height:70px;
    list-style: none;
}

li{
    float: left;
    display: inline-block;
    position: relative;
    overflow: hidden;
   
}

.bg{
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(240, 133, 151 );
    z-index: -1;
    left:-100%;
}

li:hover .bg{
    transform: translateX(100%);
    transition: .4s ease-in-out;
}

li:not(:last-child){
    margin-right: 20px;
}

nav ul:hover li{
    filter: blur(5px);
}
nav ul li:hover{
    transform:scale(1.2);
    transition: 0.5s;
    opacity: 0.7;
    filter: blur(0);
}
a{
    display: block;
    width: 100%;
    height:100%;
    padding: 10px 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    transition: all .3s ease-in-out
}

/*
li:nth-child(1):hover~li:not(:nth-child(1)) {
    filter: blur(5px);
}

li:nth-child(2):hover~li:not(:nth-child(2)) {
    filter: blur(5px);
}

li:nth-child(3):hover~li:not(:nth-child(3)) {
    filter: blur(5px);
}

/* ul li:first-child:hover li:not(:first-child){
    filter: blur(30px);
    opacity:.3;
    /* background:yellow; */
/* } */ 