body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    background: url(image2.jfif);
    background-size: cover;
    background-position:center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.container img{
    width: 100%;
}
.container .cloud1{
    position: absolute;
    top: 10px;
    animation: cloudone 30s linear infinite;
}
@keyframes cloudone{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}