body{
    margin: 0;
    padding: o;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(purple, green);
    font-family: 'Poppins', sans-serif;
}
.countsdown{
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.countsdown:before{
    content: '';
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #000;
    border-radius: 50%;
    filter: blur(20px);
    animation: shadow 1s linear infinite;
}
@keyframes shadow{
    0%,100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}
.countsdown .number{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(270deg);
    animation: animate 10s linear infinite;
}
.countsdown .number:nth-child(1)
{
    animation-delay: 0s;
}
.countsdown .number:nth-child(2)
{
    animation-delay: 1s;
}
.countsdown .number:nth-child(3)
{
    animation-delay: 2s;
}
.countsdown .number:nth-child(4)
{
    animation-delay: 3s;
}
.countsdown .number:nth-child(5)
{
    animation-delay: 4s;
}
.countsdown .number:nth-child(6)
{
    animation-delay: 5s;
}
.countsdown .number:nth-child(7)
{
    animation-delay: 6s;
}
.countsdown .number:nth-child(8)
{
    animation-delay: 7s;
}
.countsdown .number:nth-child(9)
{
    animation-delay: 8s;
}
.countsdown .number:nth-child(10)
{
    animation-delay: 9s;
}
.countsdown .number h2{
    margin: 0;
    padding: 0;
    font-size: 20em;
    color: #fff;

}
@keyframes  animate{
    0% {
        transform: rotateY(90deg);
       }
   10%, 100% {
    transform: rotateY(-90deg);
        }
    }
}
@media (max-width: 900px){
    .countsdown .number h2{
        margin: 0;
        padding: 0;
        font-size: 8em;
    }
}
