body {
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h2 {
    display:flex;
}
.countdown {
    position:relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 1000px;

}
.countdown::before{
    content:'';
    position:absolute;
    bottom:-50px;
    left:0;
    width:100%;
    height:10px;
    background: black;
    border-radius:50%;
    filter: blur(15px);
    animation: shadow 1s linear infinite; 

}
@keyframes shadow {
    0%,100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}
.countdown .number {
    position:absolute;
    text-transform: uppercase;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items: center;
    transform: rotateY(270deg);
    animation: animate 6s linear forwards ;
}
.countdown .number:nth-child(1) {
    animation-delay: 0s;
}
.countdown .number:nth-child(2) {
    animation-delay: 6s;
}.countdown .number:nth-child(3) {
    animation-delay: 12s;
}.countdown .number:nth-child(4) {
    animation-delay: 18s;
}.countdown .number:nth-child(5) {
    animation-delay: 24s;
}.countdown .number:nth-child(6) {
    animation-delay: 30s;
}.countdown .number:nth-child(7) {
    animation-delay: 36s;
}.countdown .number:nth-child(8) {
    animation-delay: 42s;
}.countdown .number:nth-child(9) {
    animation-delay: 48s;
}.countdown .number:nth-child(10) {
    animation-delay: 54s;
}
.countdown .number h2 {
    margin: 0;
    padding:0;
    font-size: 20em;
    color:rgba(99, 99, 99, 0.411);
    
}
@keyframes animate {
    0% {
        transform: rotateY(-90deg);
    }
    20% {
        transform: rotateY(0deg);
    }
    80% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(90deg);
       
    }
}
.first {
    display: inline;
    animation: first 4s linear;
}

.second {
    display: inline;
    animation: first 4s linear;
}
@keyframes first {
    0% 0.5% {   
        text-shadow: 0 0 0 black;
        color:rgba(99, 99, 99, 0.411);
    }
    1%, 100% {
        text-shadow:1px 1px 5000px  rgb(25, 0, 255);
        color:white
    }
}
.f01 {
    animation-delay: 2s;
}
.s01 {
    animation-delay: 3s;
}
.f02 {
    animation-delay: 8s;
}
.s02 {
    animation-delay: 9s;
}.f03 {
    animation-delay: 14s;
}
.s03 {
    animation-delay: 15s;
}.f04 {
    animation-delay: 20s;
}
.s04 {
    animation-delay: 21s;
}.f05 {
    animation-delay: 26s;
}
.s05 {
    animation-delay: 27s;
}.f06 {
    animation-delay: 32s;
}
.s06 {
    animation-delay: 33s;
}.f07 {
    animation-delay: 38s;
}
.s07 {
    animation-delay: 39s;
}.f08 {
    animation-delay: 44s;
}
.s08 {
    animation-delay: 45s;
}.f09 {
    animation-delay: 50s;
}
.s09 {
    animation-delay: 51s;
}.f10 {
    animation-delay: 56s;
}
.s10 {
    animation-delay: 57s;
}
