body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #02101b;
    font-family: sans-serif;
}
a{
    position: relative;
    padding: 15px 30px;
    color: #2196f3;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-size: 4em;

}
a::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05)
}
a svg,
a svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}
a svg rect{
    stroke-width: 2;
    stroke: #2196f3;
    stroke-dasharray: 100%;
    animation: animate 2s linear infinite;

}
@keyframes animate{
    0%{
        stroke-dashoffset: 500;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
@media (max-width: 900px){
    a{
        margin: 0;
        padding: 0;
        font-size: 3em;
    }
}