body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #ccc;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
    position: relative;
     width: 20%;
     height: 100%;
     border-right: 1px solid black;
     float: left;
     box-sizing: border-box;
     transition: 0.5s;
     text-align: center;
     overflow: hidden;
}
ul li:nth-child(1){
    background: url(twi.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(2){
    background: url(olivia.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(3){
    background: url(twi.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(4){
    background: url(twi.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(5){
    background: url(olivia.jpg);
    background-size: cover;
    background-position: left;
}
ul:hover li{
    width: 10%;
}
ul li:hover{
    width: 60%;
}
ul li .content{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    color: #fff;
    opacity: 0;
}
ul li:hover .content{
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}
/* this is for sliding of images */
@media(max-width: 786px)
{
    .content{
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
    }
    .content h2{
        margin: 0 0 10px;
        font-size: 30px;
    }
    .content p{
        color: #fff;
        font-size: 16px;   
    }
    ul li:nth-child(1){
        background-position: left;
    }
}