body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #070c24;
}
.container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    background: #fff;
    margin: 20px;
}
.container .imgBx:before{
    content: "Filas";
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
    opacity: 0.1;
    font-size: 8em;
    font-weight: 800;

}
.container .imgBx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #006db4;

}
.container .imgBx img{
    position: relative;
    width: 700px;
    transform: rotate(-30deg);
    left: -50px;

}
.container .details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;

}
.container .details h2{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    line-height: 0.8em;
    color: #444;

}
.container .details p{
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;

}
.container .details h3{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
}
.container .details button{
    background: #006dbc;
    color: #fff;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
    cursor: pointer;
}
@media (max-width: 1080px){
    .container{
        height: auto;
    }
    .container .imgBx{
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
    .container .imgBx img{
        left: initial;
        width: 100%;
        transform: rotate(0deg);

    }
    .details{
        width: 100% !important;
        height: auto;
        padding: 20px;
    }
    ..container .details p{
        max-width: 100%;
        margin: 0;
    }
}