body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;   
}
nav{
    width: 100%;
    background: #202c45;
    padding: 0 50px;
    box-sizing: border-box;

}
nav h2{
    margin: 0;
    padding: 15px 20px;
    float: left;
}
nav h2 a{
    color: #fff;
    text-decoration: none;
}
nav ul{
    margin: 0;
    padding: 0;
    float: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 30px;
    transition: .5s;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
background: pink;
}
.responsive-bar{
    width: 100%;
    background: #202c45;
    box-sizing: border-box;
    padding: 10px 30px;
    display: none;

}
.responsive-bar h3{
    margin: 0;
    padding: 3px 0;
    color: #fff;
    float: left;
}
.responsive-bar h3 a{
    color: #fff;
    text-decoration: none;
}
.responsive-bar h4{
    margin: 0;
    padding: 0;
    color: #fff;
    float: right;
    padding: 5px 10px;
    background: #f2184f;
    text-transform: uppercase;
    cursor: pointer;
}
@media(max-width: 900px)
{
    nav{
        display: none;
        padding: 0;
    }
    .responsive-bar {
        display: block;
    }
    nav h1{
        display: block;
        float: none;
    }
    nav ul{
        float: none;
    }
    nav ul li{
        display: block;
        text-align: center;
        background: #202c45;
        padding: 15px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
    h1.brand{
        display: none;
    }

