body{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100%;
    background: #eaffae;
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}
.wrapper{
    width: 50%;
    height: 100%;
    background: #f55757;
    position: absolute;
    overflow: hidden;
    color: #eaffae;
    top: 0;
    left: 0;

}
.sliding{
    position: absolute;
    top: 50%; 
    white-space: nowrap;
    font-size: 12em;
    line-height: 220px;
    overflow: hidden; 
    font-family: 'arial black';
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(0,-50%);
    }
    100%{
        transform: translate(-50%,-50%);
    }
}
@media (max-width: 900){
    .sliding{
        font-size:3em;
        top: 0;
        left: 0;
    }
}