body{
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: Arial;
}
.loader{
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50% -50%);
}
.loader h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.1);
    background-image: url(water.png);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        background-position: left 0px top 80px;
    }
    40%{
        background-position: left 800px top -50px;
    }
    80%{
        background-position: left 1800px top -50px;
    }
    100%{
        background-position: left 2400px top 80px;
    }
}
@media (max-width: 900px){
    .loader h1{
        margin: 0;
        padding: 0;
        font-size: 6em;
    }
    
}